<!DOCTYPE html>
<html>
<head>
  <title>Qliky2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Qliky 2</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Users<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/qusers">Show</a></li>
            <li class="divider"></li>
            <li><a href="/qusers">Show</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Organizations<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/qorganizations">Show</a></li>
            <li class="divider"></li>
            <li><a href="/qorganizations">Show</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Views<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/qviews">Show</a></li>
            <li class="divider"></li>
            <li><a href="/qviews">Show</a></li>
          </ul>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">DB viewer</h3>
  </div>
  <div class="panel-body">
    <%= yield %>
  </div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Graph cancas</h3>
  </div>
  <div class="panel-body">
    <p>
    Here's graph example
    </p>
      <script src="app.js">Hola!</script>
  </div>
</div>


    </div>
</div>



</body>
</html>
